<a ng-class="classes" ng-click="OauthButtons.loginOauth('facebook')" class="btn btn-social btn-facebook">
  <i class="fa fa-facebook"></i>
  Connect with Facebook
</a>
<!--<a ng-class="classes" ng-click="OauthButtons.loginOauth('google')" class="btn btn-social btn-google">-->
  <!--<i class="fa fa-google-plus"></i>-->
  <!--Connect with Google+-->
<!--</a>-->
<a ng-class="classes" ng-click="OauthButtons.loginOauth('twitter')" class="btn btn-social btn-twitter">
  <i class="fa fa-twitter"></i>
  Connect with Twitter
</a>
