.thing-form {
  margin: 20px 0;
}

.thing-form .input-group {
  margin-bottom: 10px;
}

.thing-form .input-group-addon {
  padding-left: 0;
  padding-right: 0;
  background: none;
  border: none;
  text-align: left;
  width: 130px;
  font-weight: bold;
}

.thing-form label {
  width: 130px;
}

.thing-form .input-group select {
  display: inline-block;
  float: none;
  width: auto;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
  margin-bottom: 20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}

.input-group {
  width: 100%;
}
