<header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">

      <div class="input-group">
        <span class="input-group-addon">Search:</span>
        <input type="text" class="form-control" ng-model="searchText">
      </div>

      <h1 class="page-header">News:</h1>

      <ul class="nav nav-tabs nav-stacked" ng-repeat="thing in $ctrl.awesomeThings | filter:searchText">
        <li>
          <button type="button" class="close" ng-click="$ctrl.deleteThing(thing)">&times;</button>
          <h3>
            {{thing.name}}
          </h3>
          <div>
            {{thing.text}}
          </div>
          <p>Category: {{thing.category}}</p>
        </li>
      </ul>
    </div>
  </div>

  <form class="thing-form" ng-show="$ctrl.isLoggedIn()">

    <div class="input-group">
      <span class="input-group-addon">Add title for news.</span>
      <input type="text" class="form-control" ng-model="$ctrl.newThing.name">
    </div>

    <div class="input-group">
      <span class="input-group-addon">Add text for news.</span>
      <textarea type="text" class="form-control" ng-model="$ctrl.newThing.text"></textarea>
    </div>

    <div class="input-group">
      <label>
        Choose category
      </label>
      <select class="form-control" ng-model="$ctrl.newThing.category">
        <option>
          Nature
        </option>
        <option>
          Economics
        </option>
        <option>
          Politics
        </option>
      </select>
    </div>



      <div class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addThing()">Add New</button>
      </div>

  </form>
</div>
